DEVICE=eth0
NAME=eth0
ONBOOT=yes
MTU=1500
HWADDR={{ ansible_ens224.macaddress }}
TYPE=Ethernet
BOOTPROTO=none
IPADDR={{ server_ip }}
NETMASK={{ netmask }}
GATEWAY={{ gateway }}
USERCTL=no
USERS=root
#
NM_CONTROLLED="no"
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
