DEVICE=eth1
NAME=eth1
ONBOOT=yes
MTU=9000
HWADDR={{ ansible_ens256.macaddress }}
TYPE=Ethernet
BOOTPROTO=none
IPADDR={{ nas_ip }}
NETMASK={{ nas_netmask }}
USERCTL=no
USERS=root
#
NM_CONTROLLED="no"
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
